# Sample config file for running remote tests
# Add "apikey" and "id" and populate them
apiurl=https://signmydata.com/?sign
digestalg=sha256
domain=signmydata.com
keyalg=rsa
keyfile=./seal-private.pem
kv=1
outfile=./%b-seal%e
sf=date3:base64a
